
<h4>Login:</h4>
       
    <div class="card col-6">
    <div class="card-body center">
        <form action="/usuarios/login" method="POST" >
           <label for="email">Email: </label>
              <input type="email" class="form-control" name="email" required>
           <label for="senha">Email: </label>
              <input type="password" class="form-control" name="senha" required><br>
            <button class="btn btn-success" type="submit">Enviar</button>
        </form>
     </div>
  
